# project logs
logs/
out/

# jrebel
rebel.xml

# maven ignore
target/
*.jar
*.war
*.ear
*.zip
*.tar
*.tar.gz

# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
.vertx/*
*target*
.idea/*
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.cache
*.diff

